{% extends 'base.html.twig' %}
{% form_theme formIntervention 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h2 class="text-center">Fiche d'intervention</h2>
    <div class="container">
        {{form_start(formIntervention)}}

        <div class="row">
            <div class="col-4">{{form_row(formIntervention.date)}}</div>
            <div class="col-4"></div>
            <div class="col-4">{{form_row(formIntervention.status)}}</div>
        </div>
        <div class="row">
            <div class="col-4" >{{form_row(formIntervention.nom)}}</div>
            <div class="col-4" >{{form_row(formIntervention.prenom,{'attr': {'placeholder': ' Champ non obligatoire'}})}}</div>
            <div class="col-4" >{{form_row(formIntervention.telephone,{'attr': {'placeholder': ' Champ non obligatoire'}})}}</div>
        </div>
        <div class="row">
            <div class="col-4" >{{form_row(formIntervention.materiel)}}</div>
            <div class="col-4" >{{form_row(formIntervention.cable)}}</div>
            <div class="col-4" >{{form_row(formIntervention.motdepasse,{'attr': {'placeholder': ' Champ non obligatoire'}})}}</div>
        </div>
        <div class="row">
            <div class="col-6">{{form_row(formIntervention.observation)}}</div>
            <div class="col-6">{{form_row(formIntervention.resultat,{'attr': {'placeholder': ' Champ non obligatoire'}})}}</div>
        </div>
        <div class="row">
            <div class="col-4">{{form_row(formIntervention.technicien)}}</div>
            <div class="col-4"></div>
            <div class="col-4">{{form_row(formIntervention.date_fin)}}</div>
        </div>
        {% if editMode %}
        <button class="btn btn-primary" type="submit">Enregistrer les modification</button>
        {% else %}
        <button class="btn btn-primary" type="submit">Enregistrer la nouvelle fiche</button>
        {% endif %}
    </div>

    {{form_end(formIntervention)}}
{% endblock %}